body{
    font-family: 'Poppins', sans-serif;
    border: white;
}
h1{
    font-size: 50px;
}
p{
    padding-bottom: 5%;
    padding-top: 2%;
}
.name-color{
    color: coral;
}
section{
    height: 800px;
    margin: 5%
}
.link-color{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
}
.half-width{
    float: left;
    margin: 5%;
    width: 40%;
   
}
.half-width img{
    width: 100%;
}
.pic-width{
    width: 25%;
    margin: 2%;
    float: left;
    background-color: white; 
    border-radius: 20px;
    padding-left: 2%;
}
.pic-width img{
    width: 100%;
}
.latest{
    text-align: center;
}
.lower-part{
    background-color: lightgrey;
    padding-top: 7%;
}
.ending-pic{
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size:65%;
    background-position: center;
    padding-bottom: 0px;
}
.work-inquiry{
    padding-top: 21%;
    padding-left: 22%;
    color: white;
}
.last-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 35px;
    float: right;
    margin-right: 380px;
    margin-top: -95px;
}
