body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-color{
    color: coral;
}
.link-color{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;

}
.half-width{
    float: left;
    margin-left: 7%;
    width: 40%;
    margin-top: 7%;

}
.half-width img{
    width: 100%;
}
.about{
    margin-top: 2%;
}
